### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=ASUS
CONFIG_PRODUCT=MT7620

### Target ProductID (board select, max 23 ASCII symbols)
CONFIG_FIRMWARE_PRODUCT_ID="RT-AC51U"

############################################################
### Linux kernel configuration
############################################################

### Force MT7620 CPU clock to 600MHz (override Uboot settings)
CONFIG_FIRMWARE_CPU_600MHZ=y

### Enable MT7620 CPU sleep mode (downclock to 200MHz on idle)
#CONFIG_FIRMWARE_CPU_SLEEP=y

### Kernel driver select for WiFi AP 2.4GHz
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7

### Kernel driver select for WiFi AP 5GHz
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Enable IPv6 support
#CONFIG_FIRMWARE_ENABLE_IPV6=y

### Enable USB support
CONFIG_FIRMWARE_ENABLE_USB=y

### Enable NTFS filesystem support via Paragon "ufsd" driver
#CONFIG_FIRMWARE_ENABLE_UFSD=y

### Enable FAT/FAT32 filesystem support
#CONFIG_FIRMWARE_ENABLE_FAT=y

### Enable exFAT filesystem support
#CONFIG_FIRMWARE_ENABLE_EXFAT=y

### Enable EXT2 filesystem support
#CONFIG_FIRMWARE_ENABLE_EXT2=y

### Enable EXT3 filesystem support
#CONFIG_FIRMWARE_ENABLE_EXT3=y

### Enable EXT4 filesystem support
CONFIG_FIRMWARE_ENABLE_EXT4=y

### Enable XFS filesystem support
#CONFIG_FIRMWARE_ENABLE_XFS=y

### Enable Apple HFS+ filesystem support
#CONFIG_FIRMWARE_ENABLE_HFS=y

### Enable FUSE (filesystems in userspace) support
CONFIG_FIRMWARE_ENABLE_FUSE=y

### Enable swap files/partitions support
#CONFIG_FIRMWARE_ENABLE_SWAP=y

### Include USB-Audio modules
#CONFIG_FIRMWARE_INCLUDE_AUDIO=y

### Include network QoS scheduling modules
#CONFIG_FIRMWARE_INCLUDE_QOS=y

### Include IPSet utility and kernel modules
#CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include NFSv3 client
#CONFIG_FIRMWARE_INCLUDE_NFSC=y

### Include Shortcut Forward Engine
#CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

############################################################
### Userspace configuration
############################################################

### Include WebUI international resources
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### Include USB-over-IP daemon
#CONFIG_FIRMWARE_INCLUDE_USBIP=y

### Include "tcpdump" utility
#CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y

### Include "socat" utility
#CONFIG_FIRMWARE_INCLUDE_SOCAT=y

### Include "parted" utility
#CONFIG_FIRMWARE_INCLUDE_PARTED=y

### Include SMB (and WINS) server
#CONFIG_FIRMWARE_INCLUDE_SMBD=y

### Include WINS server only
#CONFIG_FIRMWARE_INCLUDE_WINS=y

### Include syslog for SMB and WINS server
#CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=y

### Include testparm for SMB server
#CONFIG_FIRMWARE_INCLUDE_TESTPARM=y

### Include FTP server
#CONFIG_FIRMWARE_INCLUDE_FTPD=y
#CONFIG_FIRMWARE_INCLUDE_FTPD_SSL=y

### Include alternative L2TP control client RP-L2TP
#CONFIG_FIRMWARE_INCLUDE_RPL2TP=y

### Include EAP-TTLS and EAP-PEAP authentication support
#CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

### Include HTTPS support for DDNS client
#CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y

### Include HTTPS support
#CONFIG_FIRMWARE_INCLUDE_HTTPS=y

### Include sftp-server
#CONFIG_FIRMWARE_INCLUDE_SFTP=y

### Include dropbear SSH
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y

### Include OpenSSH instead of dropbear
#CONFIG_FIRMWARE_INCLUDE_OPENSSH=y

### Include OpenVPN
#CONFIG_FIRMWARE_INCLUDE_OPENVPN=y

### Include StrongSwan
#CONFIG_FIRMWARE_INCLUDE_SSWAN=y

### Include Wireguard VPN module and utilite
#CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y

### Include AmneziaWG kernel module
#CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y

### Include Elliptic Curves (EC) to openssl library
#CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### Include "openssl" executable for generate certificates
#CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y

### Include xUPNPd IPTV mediaserver
#CONFIG_FIRMWARE_INCLUDE_XUPNPD=y

### Include Minidlna UPnP mediaserver
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=y

### Include Transmission torrent
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=y

### Include Transmission-Web-Control (advanced WebUI)
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=y

### Include TOR proxy
#CONFIG_FIRMWARE_INCLUDE_TOR=y

### Include DNSCrypt proxy
#CONFIG_FIRMWARE_INCLUDE_DNSCRYPT=y

### Include Stubby DNS-over-TLS (DoT)
#CONFIG_FIRMWARE_INCLUDE_STUBBY=y

### Include doh_proxy DNS-over-HTTPS (DoH)
#CONFIG_FIRMWARE_INCLUDE_DOH=y

### Include Curl support
#CONFIG_FIRMWARE_INCLUDE_CURL=y

### Include QUIC support in Curl
#CONFIG_FIRMWARE_INCLUDE_QUIC=y

### Include compressed memory support
#CONFIG_FIRMWARE_INCLUDE_ZRAM=y

### Include NFQWS support (DPI)
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### Reduce trx image size
#CONFIG_CC_OPTIMIZE_FOR_SIZE=y
